<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20917329736-6mfdefosb9cn31u8spboc0tcoaj5bgj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20917329736-6mfdefosb9cn31u8spboc0tcoaj5bgj8</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Xsapk-ctClBWq7CfhZU3YX_fjdcp25A</string>
	<key>GCM_SENDER_ID</key>
	<string>20917329736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersample1</string>
	<key>PROJECT_ID</key>
	<string>firesamplechatt</string>
	<key>STORAGE_BUCKET</key>
	<string>firesamplechatt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20917329736:ios:a1538216271362e1359d7d</string>
</dict>
</plist>